@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Poppins", monospace; */
  font: 14px/18px Arial,Helvetica,sans-serif;
}

@layer base {
  body {
    @apply bg-gray-200 text-gray-900;

    /*** darkMode */
    /* @apply bg-gray-900 text-gray-100; */
  }
}
.hover-category:hover {
  color: #2962ff;
  font-weight: bold;
}

.xds {
  clip-path: polygon(
    50% 0,
    50% 0,
    100% 30%,
    100% 70%,
    50% 100%,
    50% 100%,
    0% 70%,
    0% 30%
  );
  width: 46px;
  height: 47px;
  /* background-color: #2962ff; */
}

.truncated-2line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.truncated-3line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
